<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Eudoxus</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body style="background-color:#ebeff1">
    <nav class="navbar navbar-default" style="background-color: rgb(36, 42, 49);">
      <a class="navbar-brand" style= "color:white" href="/">
        <!-- <img src="eudoxus_logo.png" width="70" height="50" class="d-inline-block align-top" alt=""> -->
        Εύδοξος
      </a>

      <!-- <form action="/login" method="post" class="form-inline">
        <input name="username" class="form-control mr-sm-2" type="email" placeholder="Your Email">
        <input name="password" class="form-control mr-sm-2" type="password" placeholder="Your Password">
        <button class="btn btn-outline-primary my-2 my-sm-0" name="loginbtn" type="submit">Login</button>
      </form> -->


      <a href="/help">
        <button class="btn btn-default btn-light" type="button" name="signup">Βοήθεια</button>
      </a>
    </nav>