<% include header.ejs %>


    <div style=" background-color:rgba(6, 4, 12, 0.729); text-align:center; color:#ffffff">
      <h3>Καλως Ήρθατε στον Εύδοξο</h3>
      <p style="width:75%;" class="m-auto">Πρόκειται για μία πρωτοποριακή υπηρεσία για την άμεση και ολοκληρωμένη παροχή των Συγγραμμάτων των προπτυχιακών φοιτητών των Πανεπιστημίων, των Τεχνολογικών Εκπαιδευτικών Ιδρυμάτων (Τ.Ε.Ι.) και των Ανώτατων Εκκλησιαστικών Ακαδημιών (Α.Ε.Α.) της επικράτειας καθώς και του Ελληνικού Ανοιχτού Πανεπιστημίου (Ε.Α.Π.).
          Η διαδικασία είναι πλήρως αυτοματοποιημένη και προσφέρει:
          (α) Πλήρη ενημέρωση στους φοιτητές για τα παρεχόμενα Συγγράμματα σε κάθε μάθημα
          (β) Δυνατότητα άμεσης παραλαβής των Συγγραμμάτων και
          (γ) Αποτελεσματικούς μηχανισμούς για την ταχεία αποζημίωση των Εκδοτών και για την αποτροπή της καταχρηστικής εκμετάλλευσης των δημόσιων πόρων
      </p>
      <br>
      
    </div>
    <br>
      <div class="row">
        <div style="margin: 0 auto 0 auto;text-align: center;background-color:#f1f1f1" class="col-lg-12 ">
            <div class="card m-4" style="width: 22rem;display:inline-block">
                <img class="card-img-top" src="student.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Είσαι Φοιτητής;</h5>
                  <p class="card-text">Εδώ μπορείς να βρείς και να δηλώσεις τα συγγράμματα σου, να τα ανταλλάξεις και να βρείς ό,τι πληροφορία χρειάζεσαι!</p>
                  <a href="/student" class="btn btn-dark">Συνέχεια ως Φοιτητής</a>
                </div>
              </div>
              <div class="card m-4" style="width: 22rem;display:inline-block">
                <img class="card-img-top" src="publisher.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Είσαι Εκδότης;</h5>
                  <p class="card-text">Εδώ μπορείς να διαχειριστείς και να καταχωρίσεις τα συγγράμματα. Συνδέσου τώρα στην εφαρμογή εκδοτών!</p>
                  <a href="/publisher" class="btn btn-dark">Συνέχεια ως Εκδότης</a>
                </div>
              </div>
              
              <br> <br> <br>
        </div> 
    </div>

    <!-- Footer -->
<footer class="page-footer font-small" style="background-color:white">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">
        <div class="col-3"style="text-align:center">
          <img src="atlas_logo.png" alt="" srcset="">
        </div>
        <div class="col-3"style="text-align:center">
          <img src="espa_logo.png" alt="" srcset="">
        </div>
        <div class="col-3"style="text-align:center">
          <img src="minedu_logo.png" alt="" srcset="">
        </div>
        <div class="col-3" style="text-align:center">
          <img src="grnet_logo.png" alt="" srcset="">
        </div>
      </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/bootstrap-tutorial/"> Eudoxus</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

  </body>
</html>