<% include header.ejs %>


    <div style=" background-color:#86a7be; text-align:center; color:#ffffff">
      <h3>Καλως Ήρθατε στον Εύδοξο</h3>
      <p>Register now to our Professional World.</p>
      Find your Friends and Colleuages. Build your Network and Advance your Career.
    </div>

      <div class="row">
        <div style="margin: 0 auto 0 auto;text-align: center;background-color: rgb(205, 221, 234)" class="col-lg-12 ">
            <div class="card m-3" style="width: 22rem;display:inline-block">
                <img class="card-img-top" src="student.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Είσαι Φοιτητής;</h5>
                  <p class="card-text">Εδώ μπορείς να βρείς και να δηλώσεις τα συγγράμματα σου, να τα ανταλλάξεις και να βρείς ό,τι πληροφορία χρειάζεσαι!</p>
                  <a href="#" class="btn btn-primary">Συνέχεια ως Φοιτητής</a>
                </div>
              </div>
              <div class="card m-3" style="width: 22rem;display:inline-block">
                <img class="card-img-top" src="publisher.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Είσαι Εκδότης;</h5>
                  <p class="card-text">Εδώ μπορείς να διαχειριστείς και να καταχωρίσεις τα συγγράμματα. Συνδέσου τώρα στην εφαρμογή εκδοτών!</p>
                  <a href="#" class="btn btn-primary">Συνέχεια ως Εκδότης</a>
                </div>
              </div>
              <br> <br>
        </div> 
    </div>

    <!-- Footer -->
<footer class="page-footer font-small" style="background-color:white">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">Χορηγοί Εύδοξου</h5>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
            <img src="espa_logo.png" alt="">
            <img src="grnet_logo.png" alt="">

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/bootstrap-tutorial/"> Eudoxus</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

  </body>
</html>