<% include studentHeader.ejs %>

<h4>Καλώς ήρθες στην αρχική σελίδα των φοιτητών!</h4> <br>
<li>
    Εδώ μπορείς να δημιουργήσεις λογαριασμό πατώντας "Εγγραφή" πάνω δεξία!
</li>
<li>
    Αν είσαι ήδη εγγεγραμμένος μπορείς να διαχειριστείς το προφίλ σου και να δηλώσεις συγγράμματα στην καρτέλα "Δήλωση Συγγραμμάτων".
</li>
<li>
    Μπορείς επίσης να ψάξεις για συγγράμματα στην βάση συγγραμμάτων πατώντας αναζήτηση ή πλοήγηση.
</li>
<li>
    Για οποιαδήποτε πληροφορία, επισκέψου την καρτέλα "Πληροφορίες".
</li>

<% include studentFooter.ejs %>
