.nav-pills .nav-link.active{
    background-color: #0e507e
}
a { color: white; } 

li { color: white; } 

.btn-primary {
    background-color:#0b3655ed;
    border-color:#0b3655ed;
}

.modal-backdrop
{
    opacity:0.5 !important;
}

.fade-scale {
    transform: scale(0.3);
    opacity: 0;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }

.fade-scale.in {
    opacity: 1;
    transform: scale(1);
}

tbody td{
    padding: 10px;
}

tbody tr:nth-child(odd){
    background-color: #545c66;
    color: rgb(255, 255, 255);
}
tbody tr:nth-child(even){
    background-color: #666e76;
    color: rgb(255, 255, 255);
}