<% include studentHeader.ejs %>

<!-- Nav tabs -->
<div class="nav flex-column nav-pills col-2" id="myTab" style="float:left; background-color: rgb(65, 74, 85); height: -webkit-fill-available; padding-right: 0px">
    <li><br></li>
    <li class="nav-item" id="lihome">
        <a class="nav-link" id="home-tab" href="/student">Αρχική Σελίδα</a>
    </li>
    <li class="nav-item" id="lisearch">
        <a class="nav-link active" id="search-tab"  href="/student/search">Αναζήτηση</a>
    </li>
    <li class="nav-item" id="librowse">
        <a class="nav-link" id="browse-tab"  href="/student/browse">Πλοήγηση</a>
    </li>
    <% if(options.signedIn){ %>
        <li class="nav-item" id="liregbooks">
            <a class="nav-link" id="regbooks-tab"  href="/student">Δήλωση Συγγραμμάτων</a>
        </li>
        <li class="nav-item" id="lireghistory">
            <a class="nav-link" id="reghistory-tab"  href="/student">Ιστορικό Δηλώσεων</a>
        </li>
    <% } %>    
    <li class="nav-item" id="liinfo">
        <a class="nav-link" id="info-tab" href="/student/info">Πληροφορίες</a>
    </li>
</div>

<div class="tab-pane" id="search" role="tabpanel" aria-labelledby="search-tab" style="background-image:url(../books.jpg);min-height: -webkit-fill-available;background-size: 100% 100%;display: flow-root">
    <div id="searchContent"class="p-5"style="background-color:rgba(65, 74, 85, 0.916); color: white; width: 80%; margin-top: 5%; margin-left: 10%; border-radius:10px">
            <h4 style="text-align:center">Αναζητείστε εδώ το σύγγραμμα που επιθυμείτε!</h4>
            <hr>
            <form id="searchBook" method="" action="" style="width:80%;" class="m-auto">
                    <div class="form-row">
                      <div class="form-group col-md-5">
                        <label for="inputTitle">Τίτλος</label>
                        <input type="text" class="form-control" id="inputTitle" placeholder="Book Title">
                      </div>
                      <div class="col-md-1"></div>
                      <div class="form-group col-md-6">
                        <label for="inputAuthor">Συγγραφέας</label>
                        <input type="text" class="form-control" id="inputAuthor" placeholder="Book Author">
                      </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="inputISBN">ISBN</label>
                            <input type="text" class="form-control" id="inputISBN" placeholder="Book ISBN">
                        </div>
                        <div class="col-md-1"></div>
                        <div class="form-group col-md-6">
                            <label for="inputKeyword">Λέξη-Κλειδί</label>
                            <input type="text" class="form-control" id="inputKeyword" placeholder="Keyword">
                        </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-5">
                        <label for="inputPublisher">Εκδότης</label>
                        <input type="text" class="form-control" id="inputPublisher" placeholder="Publisher">
                      </div>
                      <div class="col-md-1"></div>
                      <div class="form-group col-md-4">
                        <label for="inputCategory">Κατηγορία</label>
                        <select name="category" class="form-control" id="inputCategory">
                            <option value="all">All</option>
                            <option value="Φυσική">ΦΥΣΙΚΗ</option>
                            <option value="Maths">ΜΑΘΗΜΑΤΙΚΑ</option>
                            <option value="Chemistry">ΧΗΜΕΙΑ</option>
                            <option value="ΠΛΗΡΟΦΟΡΙΚΗ">ΠΛΗΡΟΦΟΡΙΚΗ</option>
                            <option value="ΟΙΚΟΝΟΜΙΚΑ">ΟΙΚΟΝΟΜΙΚΑ</option>
                            <option value="ΒΙΟΛΟΓΙΑ">ΒΙΟΛΟΓΙΑ</option>
                            <option value="ΟΙΚΟΝΟΜΙΚΑ">ΟΙΚΟΝΟΜΙΚΑ</option>
                            <option value="ΦΙΛΟΣΟΦΙΑ">ΦΙΛΟΣΟΦΙΑ</option>
                            <option value="ΦΙΛΟΛΟΓΙΑ">ΦΙΛΟΛΟΓΙΑ</option>
                            <option value="ΚΟΙΝΩΝΙΟΛΟΓΙΑ">ΚΟΙΝΩΝΙΟΛΟΓΙΑ</option>
                            <option value="ΘΕΟΛΟΓΙΑ">ΘΕΟΛΟΓΙΑ</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2">
                        <label for="inputNo">Κωδικός Βιβλίου</label>
                        <input type="text" class="form-control" id="inputNo">
                      </div>
                    </div>
                    <button id="submitSearch" type="submit" class="btn btn-primary">Αναζήτηση</button>
            </form>
            <br>
            <div style="width:80%;" class="m-auto" id="browseResults">

            </div>
            
    </div>
</div>

<script>

$('#submitSearch').on('click', (e) => {
        
        e.preventDefault()
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var bookArray = JSON.parse(this.responseText);
                bookArray.forEach(book => {
                    $('#browseResults').append('<details class="book-listing"><summary><i class="fas fa-2x fa-book">  ' + book.title + '</i><i style="float:right" class="fas fa-2x fa-caret-down"></i></summary><p>details...</p></details>')  
                });
            }
            else if (this.readyState == 4 && this.status == 404) {
                $('#browseResults').append('<h6>Did not find any books</h6>')
            }
        };
        params = "book"
        title = $('#inputTitle').val()
        author = $('#inputAuthor').val()
        isbn = $('#inputISBN').val()
        publisher = $('#inputPublisher').val()
        category = $('#inputCategory').val()
        
        if( title )
            params = params + "?title=" + title
        if( author )
            params = params + "?author=" + author
        if( category )
            params = params + "?category=" + category    
            
            
        xhttp.open("GET", "/student/search/" + params, true);
        xhttp.send();
    })

</script>

<% include studentFooter.ejs %>