<% include publisherHeader.ejs %>

<!-- Nav tabs -->
<div class="nav flex-column nav-pills col-2" id="myTab" style="float:left; background-color: rgb(65, 74, 85); height: -webkit-fill-available; padding-right: 0px">
    <li><br></li>
    <li class="nav-item" id="lihome">
        <a class="nav-link" id="home-tab" href="/publisher">Αρχική Σελίδα</a>
    </li>
    <li class="nav-item" id="lisearch">
        <a class="nav-link" id="search-tab"  href="/publisher/search">Αναζήτηση Συγγραμμάτων</a>
    </li>
    <li class="nav-item" id="librowse">
        <a class="nav-link" id="browse-tab"  href="/publisher/browse">Πλοήγηση Συγγραμμάτων</a>
    </li>
    <% if(options.signedIn){ %>
        <li class="nav-item" id="lireghistory">
            <a class="nav-link" id="reghistory-tab"  href="/publisher/publish">Έκδοση Συγγράμματος</a>
        </li>
    <% } %> 
    <li class="nav-item" id="liinfo">
        <a class="nav-link active" id="info-tab" href="/publisher/info">Πληροφορίες</a>
    </li>
</div>
<div style="background-image:url(../books.jpg);min-height: -webkit-fill-available;background-size: 100% 100%; display: flow-root">
    <div class="col-9" style="float:left;padding: 0 0 0 0;min-width: 83%;">
        <div class="p-5" style="background-color:rgba(65, 74, 85, 0.916); color: white; width: 60%; margin-top: 10%; margin-left: 10%; border-radius:10px">
            <br>

            <h4>Καλώς ήρθες στην σελίδα πληροφοριών των εκδοτών!</h4> <br>
            <li>
                Εδώ μπορείς να δημιουργήσεις λογαριασμό πατώντας "Εγγραφή" πάνω δεξία!
            </li>
            <li>
                Αν είσαι ήδη εγγεγραμμένος μπορείς να διαχειριστείς το προφίλ σου και να δηλώσεις συγγράμματα στην καρτέλα "Δήλωση Συγγραμμάτων".
            </li>
            <li>
                Μπορείς επίσης να ψάξεις για συγγράμματα στην βάση συγγραμμάτων πατώντας αναζήτηση ή πλοήγηση.
            </li>
            <li>
                Για οποιαδήποτε πληροφορία, επισκέψου την καρτέλα "Πληροφορίες".
            </li>
            <li>
                Για οποιαδήποτε πληροφορία, επισκέψου την καρτέλα "Πληροφορίες".
            </li>
            <li>
                Για οποιαδήποτε πληροφορία, επισκέψου την καρτέλα "Πληροφορίες".
            </li>
            <li>
                Για οποιαδήποτε πληροφορία, επισκέψου την καρτέλα "Πληροφορίες".
            </li>
            
            <li>
                Για οποιαδήποτε πληροφορία, επισκέψου την καρτέλα "Πληροφορίες".
            </li>
        </div>
    </div>
</div>

<% include publisherFooter.ejs %>