<% include publisherHeader.ejs %>

<!-- Nav tabs -->
<div class="nav flex-column nav-pills col-2" id="myTab" style="float:left; background-color: rgb(65, 74, 85); height: -webkit-fill-available; padding-right: 0px">
    <li><br></li>
    <li class="nav-item" id="lihome">
        <a class="nav-link" id="home-tab" href="/publisher">Αρχική Σελίδα</a>
    </li>
    <li class="nav-item" id="lisearch">
        <a class="nav-link" id="search-tab"  href="/publisher/search">Αναζήτηση Συγγραμμάτων</a>
    </li>
    <li class="nav-item" id="librowse">
        <a class="nav-link" id="browse-tab"  href="/publisher/browse">Πλοήγηση Συγγραμμάτων</a>
    </li>
    <% if(options.signedIn){ %>
        <li class="nav-item" id="lireghistory">
            <a class="nav-link active" id="reghistory-tab"  href="/publisher/publish">Έκδοση Συγγράμματος</a>
        </li>
    <% } %>  
    <li class="nav-item" id="liinfo">
        <a class="nav-link" id="info-tab" href="/publisher/info">Πληροφορίες</a>
    </li>
</div>
<div class="tab-pane" id="search" role="tabpanel" aria-labelledby="search-tab"style="background-image:url(../books.jpg);min-height: -webkit-fill-available;background-size: 100% 100%; display:flow-root">
    <div id="searchContent"class="p-5"style="background-color:rgba(65, 74, 85, 0.916); color: white; width: 80%; margin-top: 5%; margin-left: 10%; border-radius:10px">
        <div  style="float: right;"class="tooltip"><i class="fas fa-2x fa-question-circle"></i>
            <span class="tooltiptext">Μπορείτε να δηλώσετε συγγράμματα κάνοντας κλίκ στον τίτλο και πατώντας το checkbox του βιβλίου που επιθυμείτε και ύστερα το κουμπί "Δήλωση" </span>
        </div> 
        <h4 style="text-align:center">Πλοηγηθείτε στα συγγράμματα και πραγματοποιείστε την δήλωση σας!</h4> 
        <hr>
        <div class="form-row text-centered">
            <div class="form-group col-md-3">
                <label for="inputState">Κατηγορία</label>
                <select name="category" class="form-control" id="categorySelect">
                    <option value="all">All</option>
                    <option value="Φυσική">ΦΥΣΙΚΗ</option>
                    <option value="Maths">ΜΑΘΗΜΑΤΙΚΑ</option>
                    <option value="Chemistry">ΧΗΜΕΙΑ</option>
                    <option value="ΠΛΗΡΟΦΟΡΙΚΗ">ΠΛΗΡΟΦΟΡΙΚΗ</option>
                    <option value="ΟΙΚΟΝΟΜΙΚΑ">ΟΙΚΟΝΟΜΙΚΑ</option>
                    <option value="ΒΙΟΛΟΓΙΑ">ΒΙΟΛΟΓΙΑ</option>
                    <option value="ΟΙΚΟΝΟΜΙΚΑ">ΟΙΚΟΝΟΜΙΚΑ</option>
                    <option value="ΦΙΛΟΣΟΦΙΑ">ΦΙΛΟΣΟΦΙΑ</option>
                    <option value="ΦΙΛΟΛΟΓΙΑ">ΦΙΛΟΛΟΓΙΑ</option>
                    <option value="ΚΟΙΝΩΝΙΟΛΟΓΙΑ">ΚΟΙΝΩΝΙΟΛΟΓΙΑ</option>
                    <option value="ΘΕΟΛΟΓΙΑ">ΘΕΟΛΟΓΙΑ</option>
                </select>
            </div>

            <div class="form-group col-md-4">
                    <label for="inputState">ΠΑΝΕΠΙΣΤΗΜΙΟ</label>
                    <select name="category" class="form-control" id="categorySelect">
                        <option value="ΕΘΝΙΚΟ ΚΑΠΟΔΙΣΤΡΙΑΚΟ ΠΑΝΕΠΙΣΤΗΜΙΟ ΑΘΗΝΩΝ">ΕΘΝΙΚΟ ΚΑΠΟΔΙΣΤΡΙΑΚΟ ΠΑΝΕΠΙΣΤΗΜΙΟ ΑΘΗΝΩΝ</option>
                    </select>
                
            </div>

            <div class="form-group col-md-3">
                    <label for="inputState">Τμήμα Πανεπιστημίου</label>
                    <select name="category" class="form-control" id="categorySelect">
                        <option value="ΜΑΘΗΜΑΤΙΚΟ">ΜΑΘΗΜΑΤΙΚΟ</option>
                        <option value="ΦΥΣΙΚΟ">ΦΥΣΙΚΟ</option>
                        <option value="ΙΑΤΡΙΚΗ">ΙΑΤΡΙΚΗ</option>
                        <option value="ΧΗΜΙΚΟ">ΧΗΜΙΚΟ</option>
                        <option value="ΟΙΚΟΝΟΜΙΚΟ">ΟΙΚΟΝΟΜΙΚΟ</option>
                        <option value="ΠΛΗΡΟΦΟΡΙΚΗ">ΠΛΗΡΟΦΟΡΙΚΗ</option>
                    </select>
            
            </div>
            <div class="col-md-1"></div>
            <%if(options.signedIn){%>
                <button style="height: auto;margin-top: auto;margin-bottom: 1.5%;"class="btn btn-light" id="registerBooks">Δήλωση</button>
            <%} else {%>
                <button disabled style="height: auto;margin-top: auto;margin-bottom: 1.5%;"class="btn btn-light tooltip">Δήλωση <span class="tooltiptext">Δεν είστε συνδεδεμένος </span></button>
            <% } %>        
        </div>
        <hr>
        <h6 id="numBooksChecked">Έχετε επιλέξει 0 συγγράμματα</h6>
        <div id="browseResults" style="border-radius:10px">

        </div>
        
            
    </div>
</div>

<script>
$(document).ready( (e) => {

    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var bookArray = JSON.parse(this.responseText);
            bookArray.forEach(book => {
                $('#browseResults').append(
                    `<details class="book-listing">
                        <summary><img width="32" height="32"src="/book-flat.png"></img>   ${book.title} </i><i style="float:right" class="fas fa-1x fa-caret-down"></i></summary>
                        <hr><h6>Συγγραφέας: ${book.author} <br> Εκδότης: ${book.publisher} <br>ISBN: ${book.isbn} <br>
                        Κωδικός στον εύδοξο: ${book.eudoxus_code} <br>Κατηγορία: ${book.category} <br>Λέξεις Κλειδία: ${book.keywords}</h6>
                        <hr>
                        <input type="checkbox" class="book-checked" id="${book.isbn}_id" name="${book.isbn}">
                        <label for="${book.isbn}_id">Δήλωση</label>
                    </details>`)
                    
            });
            //add event listener for checkboxes after they are created above
            $('.book-checked').on('click', ev => {
                $('#numBooksChecked').text(`Έχετε επιλέξει ${$('input[type="checkbox"]:checked').length} συγγράμματα`)
            })
            
        }
        
    };
    xhttp.open("GET", "/publisher/browse/books?", true);
    xhttp.send();

})

$('#categorySelect').on('change', (ev) => {
        
        ev.preventDefault()
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                $(".book-listing" ).remove();
                var bookArray = JSON.parse(this.responseText);
                bookArray.forEach(book => {
                    $('#browseResults').append(
                    `<details class="book-listing">
                        <summary> <img width="32" height="32"src="/book-flat.png"></img>  ${book.title} </i><i style="float:right" class="fas fa-1x fa-caret-down"></i></summary>
                        <hr><h6>Συγγραφέας: ${book.author} <br> Εκδότης: ${book.publisher} <br>ISBN: ${book.isbn} <br>
                        Κωδικός στον εύδοξο: ${book.eudoxus_code} <br>Κατηγορία: ${book.category} <br>Λέξεις Κλειδία: ${book.keywords}</h6>
                        <hr>
                        <input type="checkbox" class="book-checked" id="${book.isbn}_id" name="${book.isbn}">
                        <label for="${book.isbn}_id">Δήλωση</label>
                    </details>`)    
                });

            //add event listener for checkboxes after they are created above
            $('.book-checked').on('click', (ev) => {
                $('#numBooksChecked').text(`Έχετε επιλέξει ${$('input[type="checkbox"]:checked').length} συγγράμματα`)
            })
                
            }
        };
        params = "books"
        category = $('#categorySelect').val()
        
        console.log(category);
        
        if( category && (category != 'all'))
            params = params + "?category=" + category
            
        xhttp.open("GET", "/publisher/browse/" + params, true);
        xhttp.send();
    })

    $('#registerBooks').on('click', ev => {
        ev.preventDefault()
        if(!confirm('Είστε σίγουρος ότι θελετε να κάνετε δήλωση συγγραμμάτων;'))
            return
        var books = []
        $('input[type="checkbox"]:checked').each((i,obj) => {
            books.push( obj.getAttribute('name') );
        })
        
        $.ajax({
            type: "POST",
            url: '/student/registerBooks',
            dataType: 'json',
            contentType: 'application/json; charset=UTF-8', 
            data: JSON.stringify(books),
            success: function(response) {
                console.log(response);
                
                createSuccessAlert('Η δήλωση συγγραμμάτων έγινε με επιτυχία. Μπορείτε να επαληθεύσετε την δήλωση σας στην καρτέλα "Ιστορικό δηλώσεων"')
            }
    });
    })

</script>


<% include publisherFooter.ejs %>