<% include publisherHeader.ejs %>

<!-- Nav tabs -->
<div class="nav flex-column nav-pills col-2" id="myTab" style="float:left; background-color: rgb(65, 74, 85); height: -webkit-fill-available; padding-right: 0px">
    <li><br></li>
    <li class="nav-item" id="lihome">
        <a class="nav-link" id="home-tab" href="/publisher">Αρχική Σελίδα</a>
    </li>
    <li class="nav-item" id="lisearch">
        <a class="nav-link" id="search-tab"  href="/publisher/search">Αναζήτηση Συγγραμμάτων</a>
    </li>
    <li class="nav-item" id="librowse">
        <a class="nav-link" id="browse-tab"  href="/publisher/browse">Πλοήγηση & Δήλωση Συγγραμμάτων</a>
    </li>
    <% if(options.signedIn){ %>
        <li class="nav-item" id="lireghistory">
            <a class="nav-link" id="reghistory-tab"  href="/publisher/history">Ιστορικό Δηλώσεων</a>
        </li>
    <% } %>  
    <li class="nav-item" id="liinfo">
        <a class="nav-link" id="info-tab" href="/publisher/info">Πληροφορίες</a>
    </li>
</div>

<div class="tab-pane" id="search" role="tabpanel" aria-labelledby="search-tab" style="background-image:url(../books.jpg);min-height: -webkit-fill-available;background-size: 100% 100%; display: flow-root">
    <div id="searchContent"class="p-5"style="background-color:rgba(65, 74, 85, 0.916); color: white; width: 80%; margin-top: 5%; margin-left: 10%; border-radius:10px">
        <h4 style="text-align:center">Γραφτείτε στην εφαρμογή!</h4>
        <hr>
        <form id="signupForm" method="POST" action="/publisher/register" style="width:75%;" class="m-auto">
            <div class="form-group row">
                <label for="inputEmail" class="col-sm-3 col-form-label">Διεύθυνση email</label>
                <div class="col-sm-9">
                    <input name="username" type="email" class="form-control" id="inputEmail" placeholder="Email" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label">Κωδικός Πρόσβασης</label>
                <div class="col-sm-9">
                    <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword2" class="col-sm-3 col-form-label">Επαλήθευση</label>
                <div class="col-sm-9">
                    <input name="passwordCheck" type="password" class="form-control" id="inputPassword2" placeholder="Password" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputFirstName" class="col-sm-3 col-form-label">Όνομα</label>
                <div class="col-sm-9">
                    <input name="firstname" type="text" class="form-control" id="inputFirstName" placeholder="First Name" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputLastName" class="col-sm-3 col-form-label">Επίθετο</label>
                <div class="col-sm-9">
                    <input name="lastname" type="text" class="form-control" id="inputLastName" placeholder="Last Name" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputUni" class="col-sm-3 col-form-label">Πανεπιστήμιο</label>
                <div class="col-sm-9">
                    <input name="university" type="text" class="form-control" id="inputUni" placeholder="University name" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputDepartment" class="col-sm-3 col-form-label">Τμήμα</label>
                <div class="col-sm-9">
                    <input name="department" type="text" class="form-control" id="inputDepartment" placeholder="University Department" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputReg" class="col-sm-3 col-form-label">Αριθμός Μητρώου</label>
                <div class="col-sm-9">
                    <input name="regNum" type="text" class="form-control" id="inputReg" placeholder=" Department's Registry Number" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputTel" class="col-sm-3 col-form-label">Κινητό</label>
                <div class="col-sm-9">
                    <input name="tel" type="text" class="form-control" id="inputTel" placeholder="Mobile Number">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputBday" class="col-sm-3 col-form-label">Ημ Γέννησης</label>
                <div class="col-sm-9">
                    <input name="bday" type="date" class="form-control" id="inputBday" placeholder="Birth Date">
                </div>
            </div>
            <fieldset class="form-group">
                <div class="row">
                <legend class="col-form-label col-sm-3 pt-0">Επίπεδο Σπουδών</legend>
                <div class="col-sm-9">
                    <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                    <label class="form-check-label" for="gridRadios1">
                        Προπτυχιακό
                    </label>
                    </div>
                    <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                    <label class="form-check-label" for="gridRadios2">
                        Μεταπτυχιακό
                    </label>
                    </div>
                </div>
                </div>
            </fieldset>
            
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-light">Εγγραφή</button>
                </div>
                <%if (options.error){ %>
                    <p><%=options.error%></p>
                <% } %>    
            </div>
            </form>
            
    </div>
</div>

<% include publisherFooter.ejs %>