<% include publisherHeader.ejs %>

<!-- Nav tabs -->
<div class="nav flex-column nav-pills col-2" id="myTab" style="float:left; background-color: rgb(65, 74, 85); height: -webkit-fill-available; padding-right: 0px">
    <li><br></li>
    <li class="nav-item" id="lihome">
        <a class="nav-link" id="home-tab" href="/publisher">Αρχική Σελίδα</a>
    </li>
    <li class="nav-item" id="lisearch">
        <a class="nav-link" id="search-tab"  href="/publisher/search">Αναζήτηση Συγγραμμάτων</a>
    </li>
    <li class="nav-item" id="librowse">
        <a class="nav-link" id="browse-tab"  href="/publisher/browse">Πλοήγηση Συγγραμμάτων</a>
    </li>
    <% if(options.signedIn){ %>
        <li class="nav-item" id="lireghistory">
            <a class="nav-link" id="reghistory-tab"  href="/publisher/publish">Έκδοση Συγγράμματος</a>
        </li>
    <% } %> 
    <li class="nav-item" id="liinfo">
        <a class="nav-link" id="info-tab" href="/publisher/info">Πληροφορίες</a>
    </li>
</div>

<div class="tab-pane" id="search" role="tabpanel" aria-labelledby="search-tab" style="background-image:url(../books.jpg);min-height: -webkit-fill-available;background-size: 100% 100%; display: flow-root">
    <div id="searchContent"class="p-5"style="background-color:rgba(65, 74, 85, 0.916); color: white; width: 80%; margin-top: 5%; margin-left: 10%; border-radius:10px">
        <h4 style="text-align:center">Γραφτείτε στην εφαρμογή!</h4>
        <hr>
        <form id="signupForm" method="POST" action="/publisher/register" style="width:75%;" class="m-auto">
            <div class="form-group row">
                <label for="inputEmail" class="col-sm-3 col-form-label">Διεύθυνση email</label>
                <div class="col-sm-9">
                    <input name="username" type="email" class="form-control" id="inputEmail" placeholder="Publisher Email" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label">Κωδικός Πρόσβασης</label>
                <div class="col-sm-9">
                    <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword2" class="col-sm-3 col-form-label">Επαλήθευση</label>
                <div class="col-sm-9">
                    <input name="passwordCheck" type="password" class="form-control" id="inputPassword2" placeholder="Confirm Password" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputName" class="col-sm-3 col-form-label">Όνομα εκδοτικού οίκου</label>
                <div class="col-sm-9">
                    <input name="publisherName" type="text" class="form-control" id="inputName" placeholder="Publisher Name" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputTel" class="col-sm-3 col-form-label">Κύριος Αριθμός Τηλεφώνου</label>
                <div class="col-sm-9">
                    <input name="tel" type="text" class="form-control" id="inputTel" placeholder="Main Telephone Number" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputAddress" class="col-sm-3 col-form-label">Κύρια Διεύθυνση Διανομής</label>
                <div class="col-sm-9">
                    <input name="address" type="text" class="form-control" id="inputAddress" placeholder="Main Address" required>
                </div>
            </div>
            
            
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-light">Εγγραφή</button>
                </div>
                <%if (options.error){ %>
                    <p><%=options.error%></p>
                <% } %>    
            </div>
            </form>
            
    </div>
</div>

<% include publisherFooter.ejs %>